//customized
.form-container{

  .form-window-row {
    .col-right {
      margin-right: 5%;
      margin-left: 5%;
      width: 40%;
    }

    .col-left {
      width: 48%;
      margin-left: 2%;
    }
  }
}

.form-container-md{

  .form-window-row {

    .col-right {
      width: 94%;
      margin: 0;
      max-width: 500px;
    }

    .col-left {
      display: none;
    }
   }

}


.form-container {
  position: relative;
}


.form-background{
  height: 100vh;


   img{
    width: 100%;
    height: 100%;
   }
}


.form-window-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 15%);
  border-radius: 0.5rem;
  position: absolute;
  top: 5%;
  left: 5%;
}

.form-image{
  height: 100%;
  width: 100%;
}

.col-right {
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 5%);
  padding: 2rem 1rem;
  border-radius: .5rem;
  position: relative;
}


.avatar {
  width: 30%;
  margin-left: 35%;
}


.form-title {
  margin-top: 1rem; 
  margin-bottom: 1rem;
  text-align: center;
}


.form-body {
  .form-fields {
    
    .form-item {
      position: relative;
      margin-bottom: 1rem;
      .form-input {
        height: 3rem;
        width: 100%;
        padding-left: 3rem;
        border-radius: 1.5rem;
        border: none;
        outline: 0;
        background-color: #e0e9f5;
      }

      .form-input:hover,
      .form-input:focus {
        background-color: #e4f0f6;
      }

      .input-icon {
        position: absolute;
        left: 0.9rem;
        top: 0.9rem;
      }
    }
  }


  .reset-password {
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
    .form-link {
      text-decoration: none;
      color: #8d96ec;
    }
  }


  .form-button-container {
    .form-button{
      cursor: pointer;
      border: none;
      outline: 0;
      color: #fff;
      background-color: #6c84ff;
      border-radius: 1.5rem;
      height: 3rem;
      width: 80%;
      position: absolute;
      bottom: -1.5rem;
      left: 10%;
    }

    .form-button:hover {
      background-color: #7d93ff;
    }
  }


  .form-action {
    margin-bottom: .5rem;
    text-align: center;
    .form-link {
      text-decoration: none;
      color: #8d96ec;
    }
  }
}

  
