<div class="form-container" [ngClass]="getClass()">
  <div class="form-background">
    <img [src]="'assets/login/bg.svg'" />
  </div>
  <div class="form-window-row">
    <div class="col-left">
      <img [src]="'assets/login/signin.svg'" class="form-image" />
    </div>
    <div class="col-right">
      <div class="avatar">
        <img [src]="'assets/password-reset/lock.svg'" alt="" />
      </div>
      <h5 class="form-title">Reset password</h5>
      <form
        [formGroup]="authenticationFormGroup"
        (ngSubmit)="requestPasswordReset()"
        class="form-body"
      >
        <div class="form-fields">
          <div class="form-label-container">
            <label *ngIf="!resetRequested && !tokenMatched" class="form-label"
              >Type your email so we can send you a reset code.</label
            >
          </div>
          <div *ngIf="!resetRequested && !tokenMatched" class="form-item">
            <input
              type="text"
              formControlName="email"
              class="form-input"
              placeholder="Email addess"
            />
            <i class="fa fa-envelope input-icon"></i>
          </div>
          <div *ngIf="resetRequested && !tokenMatched" class="form-item">
            <input
              type="text"
              formControlName="token"
              class="form-input"
              placeholder="Type the number of 6 digits"
            />
            <i class="fa fa-recycle input-icon"></i>
          </div>
          <div *ngIf="resetRequested && !tokenMatched" class="resend-link">
            <a (click)="requestPasswordReset()" class="form-link">Resend</a>
          </div>
          <div *ngIf="resetRequested && tokenMatched" class="form-item">
            <input
              type="password"
              formControlName="password"
              class="form-input"
              placeholder="Password"
            />
            <i class="fa fa-lock input-icon"></i>
          </div>
          <div *ngIf="resetRequested && tokenMatched" class="form-item">
            <input
              type="password"
              formControlName="passwordConfirmation"
              class="form-input"
              placeholder="Confirm password"
            />
            <i class="fa fa-lock input-icon"></i>
          </div>
        </div>
        <div class="form-action" *ngIf="!tokenMatched">
          Don't have any account?
          <a routerLink="/authentication/signup" class="form-link"
            >create one <i class="fa fa-arrow-right"></i
          ></a>
        </div>
        <div class="form-button-container">
          <button
            *ngIf="!resetRequested && !tokenMatched"
            class="form-button"
            type="button"
            (click)="requestPasswordReset()"
          >
            Reset
          </button>
          <button
            *ngIf="resetRequested && !tokenMatched"
            class="form-button"
            type="button"
            (click)="handleTokenMatched()"
          >
            Validate
          </button>
          <button
            *ngIf="resetRequested && tokenMatched"
            class="form-button"
            type="submit"
            (click)="registerNewPassword()"
          >
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
