<p>products works!</p>
<div class="card">
  <div class="card-head">Product1</div>
  <div class="card-body">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, rerum
    veritatis. Eius nobis dolorum unde, ratione praesentium labore vel illo.
  </div>
</div>
<div class="card">
  <div class="card-head">Product2</div>
  <div class="card-body">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, rerum
    veritatis. Eius nobis dolorum unde, ratione praesentium labore vel illo.
  </div>
</div>
