<div class="form-container" [ngClass]="getClass()">
  <div class="form-background">
    <img [src]="'assets/login/bg.svg'" />
  </div>
  <div class="form-window-row">
    <div class="col-left">
      <img [src]="'assets/login/signin.svg'" class="form-image" />
    </div>
    <div class="col-right">
      <div class="avatar">
        <img [src]="'assets/avatar.svg'" alt="" />
      </div>
      <h5 class="form-title">Sign in to your account</h5>
      <form
        [formGroup]="authenticationFormGroup"
        (ngSubmit)="handleLogin()"
        class="form-body"
      >
        <div class="form-fields">
          <div class="form-item">
            <input
              type="text"
              formControlName="username"
              class="form-input"
              placeholder="Username or email address"
            />
            <i class="fa fa-user input-icon"></i>
          </div>
          <div class="form-item">
            <input
              type="password"
              formControlName="password"
              class="form-input"
              placeholder="Password"
            />
            <i class="fa fa-lock input-icon"></i>
          </div>
          <!-- TODO:  add the router link for password reset -->
          <div class="reset-password">
            <a class="form-link" routerLink="/authentication/reset"
              >Forgot your password?</a
            >
          </div>
        </div>
        <div class="form-action">
          Don't have any account?
          <a routerLink="/authentication/signup" class="form-link"
            >create one <i class="fa fa-arrow-right"></i
          ></a>
        </div>
        <div class="form-button-container">
          <button class="form-button" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
